body{
    background-image: url(mibnions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: rgb(0, 255, 238);
}

#txt-input{
   
   
   
    height: 10vh;
    
    background-color: #fbea89;
    font-size: larger;
    border-radius: 10px;
    
}

#output{
    border: 2px solid black;
    background-color: #fbea89;
    font-size: larger;
    height: auto;
    height:10vh;
    border-radius: 115px;

}
#output-txt{
    text-align: center;
    font-size: large;
    color: #ffffff;
    font-weight: 600;
    margin: 1rem;
   
       
      
}
#btn-translate{
    background-color: #361e0e;
    color: #fff;
    font-weight: 600;
    margin: 1rem;
    padding: 1rem;
    border-radius :2px;
}
#heading{
    text-align: center;
    text-decoration-style: double;
}